$bg-color: green;
$theme-color: purple;

$gray-100: #FDFCFC;
$gray-300: #E7E7E7;
$gray-400: #F7F7F7;
$gray-500: #D9D9D9;
$gray-600: #9CA6B1;
$gray-700: #3A3A3A;

$brand-primary-400: #003168;

$theme-color-primary-400: $brand-primary-400;

$font-family: Arial, sans-serif;
$font-size-base: 16px;
$font-size-sm: 12px;
$font-size-xs: 10px;

$font-weight-normal: 400;

$border-color: $gray-500;
$border-radius: 6px;
$border-width: 1px;

$border-default: $border-width solid $border-color;

$spacer: 4px;
$spacer-2: 2 * $spacer;
$spacer-3: 3 * $spacer;
$spacer-4: 4 * $spacer;
$spacer-5: 5 * $spacer;
$spacer-6: 6 * $spacer;
$spacer-7: 7 * $spacer;
$spacer-8: 8 * $spacer;
$spacer-9: 9 * $spacer;
$spacer-10: 10 * $spacer;

$widget-spacing-x: $spacer-10;

$transition-duration: .2s;
